version: "3.9"

services:
  db:
    image: postgres:15
    container_name: stripe_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user1234
      POSTGRES_DB: stripe
    ports:
      - "8432:5432"  
    volumes:
      - db_data:/var/lib/postgresql/data


  web:
    build: .
    container_name: stripe_web
    volumes:
    - .:/app
    ports:
    - "8000:8000"
    depends_on:
    - db
    env_file:
    - .env
  
volumes:
  db_data:


