{% extends "quickstart/auth/baseAuth.html" %}

{% block title %}Корзина{% endblock %}
{%block button%}
        <div class="header-cart">
                <a href="{% url 'quickstart:items_list'%}" class="cart-link" title="Корзина">
                    🔫 Предметы
                </a>
        </div>
{%endblock%}
{% block content %}
<div class="cart-container">
    <h2>Ваша корзина</h2>
    {%for item in items%}
    <div class="cart-items" data-item-id = {{item.id}}>
        <div class="cart-item">
            <div class="cart-item-image">
                <img src="{{item.image.url}}" alt="Товар 1">
            </div>
            <div class="cart-item-details">
                <h3 class="cart-item-title">{{item.name}}</h3>
                <p class="cart-item-desc">{{item.description}}</p>
                <span class="cart-item-price">{{item.price}}</span>
            </div>
            <button class="cart-item-remove" title="Удалить">✖</button>
        </div>
    {%endfor%}


    <div class="cart-footer">
        <div class="cart-currency">
            <label for="currency">Валюта:</label>
            <select id="currency" name="currency">
                <option value="RUB">₽</option>
                <option value="USD">$</option>
                <option value="EUR">€</option>
            </select>
        </div>
        <button class="checkout-button">Оформить заказ</button>
    </div>
</div>
{% endblock %}

{%block script%}
<script>
    
function getCookie(name) {
    let cookieValue = null
    document.cookie.split(';').forEach(cookie => {
        cookie = cookie.trim()
        if (cookie.startsWith(name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
        }
    })
    return cookieValue
}

    document.querySelectorAll('.cart-item-remove').forEach(btn => {
    btn.addEventListener('click', function () {

        const itemBlock = this.closest('.cart-items')
        const itemId = itemBlock.dataset.itemId

        fetch(`/cart/remove/${itemId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            }
        })
        .then(res => res.json())
        .then(data => {
            if (data.success) {
                itemBlock.remove()  
            }
        })
    })
})
</script>
{%endblock%}