{% extends "quickstart/auth/baseAuth.html" %}
{% csrf_token %}
{% block title %}Товары{% endblock %}
{%block button%}
        <div class="header-cart">
                <a href="{% url 'quickstart:cart_view'%}" class="cart-link" title="Корзина">
                    🛒 Корзина
                </a>
        </div>
{%endblock%}

{% block content %}
<div id="cart-notification" class="notification">
    Товар добавлен в корзину 🛒
</div>

<div class="items-toolbar">
    <h2>Каталог товаров</h2>

    <div class="currency-selector">
        <label for="currency">Валюта:</label>
        <select id="currency" name="currency">
                <option value="usd">$ USD</option>
                <option value="rub">₽ RUB</option>
                <option value="eur">€ EUR</option>
        </select>
    </div>
</div>


<div class="product-grid">
    {% for item in items %}
        <div class="product-card" data-item-id = {{item.id}}>
                <div class="product-image">
                        <img src="{{item.image.url}}" alt="Product">
                </div>

                <div class="product-content">
                        <h3 class="product-title">{{item.name}}</h3>
                        <p class="product-description">
                        {{item.description}}
                </p>

                <div class="product-footer">
                        <span class="product-price" data-usd = {{item.price}}>{{item.price}} $</span>

                <div class="product-actions">
                        <button class="icon-button cart" title="Добавить в корзину">
                        🛒
                        </button>
                        <button class="icon-button buy" title="Купить">
                        💳
                        </button>
                </div>
                </div>
                </div>
        </div>
    {% endfor %}
</div>

<div id="checkout-overlay" class="checkout-overlay">
    <div class="checkout-modal">
        <div class="loader"></div>
        <p>Подготавливаем оплату…<br>Пожалуйста, подождите</p>
    </div>
</div>
{% endblock %}

{%block script%} 
 <script type="text/javascript" >


        const rates = { usd: 1, eur: 0.93, rub: 75.2 };
        const iconCurrency = {usd : "$" , eur : "€" , rub : "₽" }
        const prices = document.querySelectorAll('.product-price');

        document.getElementById('currency').addEventListener('change', (e) => {
        const currency = e.target.value;
        prices.forEach(span => {
                const usd = parseFloat(span.dataset.usd);
                span.textContent = (usd * rates[currency]).toFixed(2) + ' ' + iconCurrency[currency];
        });
        });

        function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let cookie of cookies) {
                        cookie = cookie.trim();
                        if (cookie.startsWith(name + '=')) {
                                cookieValue = decodeURIComponent(
                                cookie.substring(name.length + 1)
                                );
                                break;
                        }
                        }
        }
        return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        document.querySelectorAll('.icon-button.cart').forEach(btn => {
        btn.addEventListener('click', () => {
                const itemId = btn.closest('.product-card').dataset.itemId
                const notification = document.getElementById('cart-notification');

                notification.classList.add('show');

                setTimeout(() => {
                notification.classList.remove('show');
                }, 3000);
            fetch('/item/add/', {
                method : 'POST',
                headers : {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                },
                body : JSON.stringify({
                        item_id : itemId
                })
            })
        })
    })

    document.querySelectorAll('.icon-button.buy').forEach(btn => { 
    btn.addEventListener('click', () => {
        const itemId = btn.closest('.product-card').dataset.itemId;
        const notification = document.getElementById('cart-notification');
        const currencySelect = document.getElementById("currency");
        const selectedCurrency = currencySelect.value;
        const overlay = document.getElementById('checkout-overlay')

       
        fetch('/item/add/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ item_id: itemId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'ok') {
                overlay.style.display = 'flex';
                return fetch('/checkout-session/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({ 
                        item_ids: [itemId],
                        currency : selectedCurrency
                })
                });
            } else {
                alert("Товар находится в корзине, пожалуйста оформите платеж через неё.");
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.url) {
                window.location.href = data.url;
            } else {
                alert("Ошибка при создании платежа");
            }
        })

    });
});
    </script> 
{%endblock%}