{% extends "quickstart/auth/baseAuth.html" %}
{% csrf_token %}
{% block title %}Товары{% endblock %}
{%block button%}
        <div class="header-cart">
                <a href="{% url 'quickstart:cart_view'%}" class="cart-link" title="Корзина">
                    🛒 Корзина
                </a>
        </div>
{%endblock%}

{% block content %}
<div class="product-grid">
    {% for item in items %}
        <div class="product-card" data-item-id = {{item.id}}>
                <div class="product-image">
                        <img src="{{item.image.url}}" alt="Product">
                </div>

                <div class="product-content">
                        <h3 class="product-title">{{item.name}}</h3>
                        <p class="product-description">
                        {{item.description}}
                </p>

                <div class="product-footer">
                        <span class="product-price">{{item.price}}</span>

                <div class="product-actions">
                        <button class="icon-button cart" title="Добавить в корзину">
                        🛒
                        </button>
                        <button class="icon-button buy" title="Купить">
                        💳
                        </button>
                </div>
                </div>
                </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{%block script%} 
 <script type="text/javascript" >
        function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let cookie of cookies) {
                        cookie = cookie.trim();
                        if (cookie.startsWith(name + '=')) {
                                cookieValue = decodeURIComponent(
                                cookie.substring(name.length + 1)
                                );
                                break;
                        }
                        }
        }
        return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        document.querySelectorAll('.icon-button.cart').forEach(btn => {
        btn.addEventListener('click', () => {
            const itemId = btn.closest('.product-card').dataset.itemId

            fetch('/item/add/', {
                method : 'POST',
                headers : {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                },
                body : JSON.stringify({
                        item_id : itemId
                })
            })
        })
    })

    </script> 
{%endblock%}