<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stripe Payments{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <header class="header">
        <div class="container header-container">
            
            <a href="{% url 'quickstart:items_list' %}" class="logo">Stripe Payments</a>

            {%block button%}

            {%endblock%}
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <p>Вы авторизированы!</p>
        </div>
    </footer>
    {%block script%} {%endblock%}
</body>
</html>